{% extends "base.html" %}
{%block title%}
<title>{{ patientrecord.date }}</title>{%endblock%}


{% block content %}

 
  <div class="container flex-column">
  <div class = 'text-center display-5 mt-2 bold text-uppercase'>date of visit: {{ patientrecord.date }} </div>
    <div class="card text-center mx-auto mb-2 mt-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Symptoms</h5>
      <p class="card-text">{{patientrecord.symptoms}}</p>
    </div>
  </div>

  <div class="card text-center mx-auto mb-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Diagnosis</h5>
      <p class="card-text">{{patientrecord.diagnosis}}</p>
    </div>
  </div>

  <div class="card text-center mx-auto mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Prescription</h5>
      <p class="card-text">{{ patientrecord.prescription}}</p>
    </div>
  </div>
</div>


{%endblock%}